#jinja2:trim_bl/cks: "true", lstrip_blocks: "true"
{% set subscription = smiths_config_subscriptions[subscription_name] %}
{% set location = subscription.locations[location_name] %}
{% set template_tags = subscription.tags | combine(networking_tags | default({})) | combine(location.tags | default({})) %}
{% set location_code = smiths_config_metadata.locations[location_name].code %}
{% set division_code = smiths_config_metadata.divisions[template_tags.Division].code %}
{% set environment_code = smiths_config_metadata.environments[template_tags.Environment].code %}
{% for vnet in location.virtual_networks %}{# for vnet #}
{% set vnet_base = location_code ~ "-" ~ division_code ~ "-" ~ environment_code %}
{% set vnet_name = vnet_base ~ "-vnet" %}
{% set vnet_rg = vnet_base ~ "-vnet-rg" %}
{% set vnet_tags = template_tags | combine(vnet.tags | default({})) %}
- name: vnet
  resource_group: {{ vnet_rg }}
  location: {{ location_name }}
  resources:
  - type: Microsoft.Network/virtualNetworks
    name: {{ vnet_name }}
    apiVersion: "2018-08-01"
    location: {{ location_name }}
    tags:
    {% for vnet_tag in (vnet_tags | dict2items) %}{# for tag #}
      {{ vnet_tag.key }}: "{{ vnet_tag.value }}"
    {% endfor %}{# endfor tag #}
    properties:
      addressSpace:
        addressPrefixes:
        {% for address_prefix in vnet.address_space %}{# for address_prefix #}
        - {{ address_prefix }}
        {% endfor %}{# endfor address_prefix #}
      dhcpOptions:
        dnsServers:
        {% for dns_server in vnet.dns_servers %}{# for dns_server #}
        - {{ dns_server }}
        {% endfor %}{# endfor dns_server #}
      subnets:
      {% for subnet in vnet.subnets %}{# for subnet #}
      {% set subnet_name = vnet_base ~ "-" ~ smiths_config_metadata.purposes[subnet.name].code ~ "-subnet01" %}
      {% set nsg_name = subnet_name ~ "-nsg" %}
      {% set nsgRef = "[concat('/subscriptions/" ~ subscription.subscription_id ~ "/resourceGroups/" ~ vnet_rg ~ " /providers/', reference('" ~ nsg_name ~ "', '2018-08-01', 'Full').resourceId)]" %}
      {% set routeTableRef = "[concat('/subscriptions/" ~ subscription.subscription_id ~ "/resourceGroups/" ~ vnet_rg ~ "/providers/', reference('" ~ subnet_name ~ "-route', '2018-08-01', 'Full').resourceId)]" %}
      - name: {{ subnet_name }}
        properties:
          addressPrefix: {{ subnet.address_prefix }}
          networkSecurityGroup:
            id: "{{ nsgRef }}"
          routeTable:
            id: "{{ routeTableRef }}"
      {% endfor %}{# endfor subnet #}
  {% for subnet in vnet.subnets %}{# for subnet #}
  {% set subnet_name = vnet_base ~ "-" ~ smiths_config_metadata.purposes[subnet.name].code ~ "-subnet01" %}
  {% set nsg_name = subnet_name ~ "-nsg" %}
  {% set route_table_name = subnet_name ~ "-route" %}
  - type: Microsoft.Network/networkSecurityGroups
    name: {{ nsg_name }}
    apiVersion: "2018-08-01"
    location: {{ location_name }}
    tags:
    {% for vnet_tag in (vnet_tags | dict2items) %}{# for vnet_tag #}
      {{ vnet_tag.key }}: "{{ vnet_tag.value }}"
    {% endfor %}{# endfor vnet_tag #}
    resources:
    - type: providers/diagnosticsSettings
      name: microsoft.insights/{{nsg_name}}-diag01
      apiVersion: "2017-05-01-preview"
      properties:
        logs:
        - category: NetworkSecurityGroupEvent
          enabled: true
          retentionPolicy:
            days: 90
            enabled: true
        - category: NetworkSecurityGroupRuleCounter
          enabled: true
          retentionPolicy:
            days: 90
            enabled: true
        metrics: []
        workspaceId: /subscriptions/823c312b-c266-4f6b-a93e-4b71bf0af10e/resourcegroups/zna3-bis-prd-logging-rg/providers/microsoft.operationalinsights/workspaces/zna3-bis-prd-log01
  - type: Microsoft.network/routeTables
    name: {{ route_table_name }}
    apiVersion: "2018-08-01"
    location: {{ location_name }}
    tags:
    {% for vnet_tag in (vnet_tags | dict2items) %}{# for vnet_tag #}
      {{ vnet_tag.key }}: "{{ vnet_tag.value }}"
    {% endfor %}{# endfor vnet_tag #}
  {% endfor %}{# endfor subnet #}
{% endfor %}{# endfor vnet #}