- name: Create virtual machine
  azure_rm_deployment:
    deployment_name: "vm_deployment_{{ smiths_vm_name }}"
    resource_group_name: "{{ smiths_resource_group_name }}"
    location: "{{ smiths_region_name }}"
    template_link: "https://raw.githubusercontent.com/cdhgee/azure-ansible-scripts/master/arm-templates/virtual-machine.json"
    tags: "{{ smiths_azure_tags }}"
    parameters:
      virtualMachineName:
        value: "{{ smiths_vm_name }}"
      adminUsername:
        value: "bisadmin"
      adminPassword:
        reference:
          keyVault:
            id: "/subscriptions/8c3d59f9-1481-4dda-9b6f-263e5f412c7d/resourceGroups/bis-dev-usnc-keyvault-rg/providers/Microsoft.KeyVault/vaults/bis-dev-usnc-keyvault"
          secretName: "localadminpassword"
      size:
        value: "Standard_B2ms"
      subnet:
        value: "{{ smiths_subnet }}"

