- name: Prepare virtual network configuration 
  set_fact:
    vnet: "{{ smiths_config_networking[smiths_subscription][smiths_vnet] | combine({'name': smiths_vnet}) }}"

- name: Prepare virtual network tags
  set_fact:
    vnet_tags: "{{ smiths_config_tag_presets[vnet.metadata.preset] | combine(vnet.metadata.additional_tags) }}"

- name: Dump tags
  debug:
    var: vnet_tags

- name: Create virtual network
  azure_rm_deployment:
    deployment_name: "vnet-{{ ansible_date_time.iso8601_basic_short }}"
    resource_group_name: "{{ vnet.resource_group}}"
    location: "{{ vnet.location }}"
    template:
      $schema: https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#
      contentVersion: 1.0.0.0
      parameters: {}
      variables: {}
      resources: 
      - type: Microsoft.Network/virtualNetworks
        name: "{{ vnet.name }}" 
        apiVersion: "2018-08-01"
        location: "{{ vnet.location }}"
        tags: "{{ vnet_tags }}" 
        properties:
          addressSpace:
            addressPrefixes: "{{ vnet.address_prefixes }}"
          dhcpOptions:
            dnsServers: "{{ vnet.dns_servers }}"
          subnets: []

- name: Create subnets
  azure_rm_deployment:
    deployment_name: "subnet-{{ ansible_date_time.iso8601_basic_short }}"
    resource_group_name: "{{ vnet.resource_group }}"
    location: "{{ vnet.location }}"
    template:
      $schema: https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#
      contentVersion: 1.0.0.0
      parameters: {}
      variables: {}
      resources: 
      - type: Microsoft.Network/virtualNetworks/subnets
        name: "{{ vnet.name }}/{{ subnet.name }}" 
        apiVersion: "2018-08-01"
        location: "{{ vnet.location }}"
        tags: "{{ vnet_tags }}"
        properties:
          addressPrefix: "{{ subnet.address_prefix }}"
  loop: "{{ vnet.subnets }}"
  loop_control:
    loop_var: subnet

- include_tasks: vnet-peering.yml
  loop: "{{ vnet.peerings }}"
  loop_control:
    loop_var: vnetpeering