- name: Prepare virtual network configuration
  set_fact:
    vnet: "{{ smiths_config_networking[smiths_subscription].virtual_networks[smiths_vnet] | combine({'name': smiths_vnet}) }}"

- name: Prepare virtual network tags
  set_fact:
    vnet_tags: "{{ smiths_config_tag_presets[vnet.metadata.preset] | combine(vnet.metadata.additional_tags) }}"

- name: Prepare virtual network templates
  set_fact:
    vnet_templates: "{{ lookup('template', 'virtual-network.yml.j2') | from_yaml }}"

- name: Print virtual network templates
  debug:
    var: vnet_templates
    verbosity: 4

- name: Execute virtual network templates
  include_role:
    name: deploy
  vars:
    deployment: "{{ template }}"
  loop: "{{ vnet_templates }}"
  loop_control:
    loop_var: template