- name: Get vnet details
  set_fact:
    vnet: "{{ smiths_config_networking[smiths_subscription][smiths_vnet] | combine({'name': smiths_vnet}) }}"


- name: Create virtual network
  azure_rm_deployment:
    deployment_name: "vnet-{{ ansible_date_time.iso8601_basic_short }}"
    resource_group_name: "{{ vnet.resource_group}}"
    location: "{{ vnet.location }}"
    tags: "{{ smiths_azure_tags }}"
    parameters: {}
    template:
      $schema: https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#
      contentVersion: 1.0.0.0
      parameters: {}
      variables: {}
      resources: 
      - type: Microsoft.Network/virtualNetworks
        name: "{{ vnet_name }}" 
        apiVersion: 2018-08-01
        tags: "{{ smiths_azure_tags }}" 
        properties:
          addressSpace:
            addressPrefixes: "{{ vnet.address_prefixes }}"
          dhcpOptions:
            dnsServers: "{{ vnet.dns_servers }}"
          subnets: []

- name: Create subnets
  azure_rm_deployment:
    deployment_name: "subnet-{{ ansible_date_time.iso8601_basic_short }}"
    resource_group_name: "{{ vnet.resource_group }}"
    location: "{{ vnet.location }}"
    tags: "{{ smiths_azure_tags }}"
    template:
      $schema: https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#
      contentVersion: 1.0.0.0
      parameters: {}
      variables: {}
      resources: 
      - type: Microsoft.Network/virtualNetworks/subnets
        name: "{{ subnet.name }}" 
        apiVersion: 2018-08-01
        tags: "{{ smiths_azure_tags }}" 
        properties:
          addressSpace:
            addressPrefixes: "{{ subnet.address_prefixes }}"
  loop: "{{ vnet.subnets }}"
  loop_control:
    loop_var: subnet

- include_tasks: vnet-peering.yml
  loop: "{{ vnet.peerings }}"
  loop_control:
    loop_var: vnetpeering