- name: Create network security group
  include_role:
    name: deploy
  vars:
    deployment:
      name: nsg
      resource_group: "{{ vnet.resource_group }}"
      location: "{{ vnet.location }}"
      resources:
        - type: Microsoft.Network/networkSecurityGroups
          name: "{{ subnet.name }}-nsg" 
          apiVersion: "2018-08-01"
          location: "{{ vnet.location }}"
          tags: "{{ vnet_tags }}"
          properties:
            securityRules: "{{ subnet.nsg_rules | default([]) }}"

- name: Prepare custom routes
  set_fact:
    custom_routes: "{{ (custom_routes | default([])) + [ { 'name': '{{ route.name }}', 'properties': { 'addressPrefix': '{{ route.address_prefix }}', 'nextHopType': '{{ route.next_hop_type }}', 'nextHopIpAddress': '{{ route.next_hop_ip }}' } } ] }}"
  loop: "{{ subnet.routes }}"
  loop_control: 
    loop_var: route

- name: Create route table
  include_role:
    name: deploy
  vars:
    deployment:
      name: route_table
      resource_group: "{{ vnet.resource_group }}"
      location: "{{ vnet.location }}"
      resources:
        - type: Microsoft.Network/routeTables
          name: "{{ subnet.name }}-route"
          apiVersion: "2018-08-01"
          location: "{{ vnet.location }}"
          tags: "{{ vnet_tags }}"
          properties:
            disableBgpRoutePropagation: "{{ not subnet.bgp_propagation }}"
            routes: "{{ custom_routes | default([]) }}"

- name: Create subnet
  include_role:
    name: deploy
  vars: 
    deployment:
      name: subnet 
      resource_group: "{{ vnet.resource_group }}"
      location: "{{ vnet.location }}"
      resources:
        - type: Microsoft.Network/virtualNetworks/subnets
          name: "{{ vnet.name }}/{{ subnet.name }}" 
          apiVersion: "2018-08-01"
          location: "{{ vnet.location }}"
          properties:
            addressPrefix: "{{ subnet.address_prefix }}"
            networkSecurityGroup:
              id: "[resourceId('Microsoft.Network/networkSecurityGroups', '{{ subnet.name }}-nsg')]"
