smiths_config_networking:
  metadata: 
    Service: Infrastructure
    Application: Networking
    Data Classification: Internal
    PII: "No"
    Owner Phone: +1 240-361-8382
    Schedule: 24 x 7
    SME E-mail: BIS Security Team
    Owner E-mail: mike.barker@smiths.com
    Department: IT
    PCI DSS: "No"
    Maintenance Windows: Cloud Native
  BIS Enterprise IT Primary:
    metadata:
      Environment: Production
      Division: BIS
    virtual_networks:
      zna1-bis-shr-vnet01:
        metadata:
          Timezone: "-0600"
        resource_group: zna1-bis-shr-vnet-rg
        location: North Central US
        address_prefixes:
          - 10.216.16.0/22
        dns_servers:
          - 10.216.16.4
          - 10.216.16.5
        subnets:
          - name: zna1-bis-shr-shared-subnet01
            address_prefix: 10.216.16.0/23
          - name: GatewaySubnet
            address_prefix: 10.216.19.0/27
  Smiths Detection Enterprise R&D:
    metadata:
      Environment: Development 
      Division: Smiths Detection
    network_watcher:
      - name: zna1-detection-dev-nw01
        location: North Central US
        resource_group: zna1-detection-dev-nw-rg
    virtual_networks:
      zna1-detection-dev-vnet01:
        metadata:
          Timezone: "-0600"
        resource_group: zna1-detection-dev-vnet-rg
        location: North Central US
        dns_servers:
          - 10.216.16.4
          - 10.216.16.5
        address_prefixes:
          - 10.216.65.0/24
        subnets:
          - name: zna1-detection-dev-rd-subnet01
            address_prefix: 10.216.65.0/24
            route_table:
              bgp_propagation: false
              routes:
                - name: Default
                  address_prefix: 0.0.0.0/0
                  next_hop_type: VirtualAppliance
                  next_hop_ip: 10.216.19.52
                - name: BIS-Shared
                  address_prefix: 10.216.0.0/22
                  next_hop_type: VirtualAppliance
                  next_hop_ip: 10.216.19.52
        peerings:
          - local:
              allow_vnet_access: true
              allow_forwarded_traffic: true
              allow_gateway_transit: false
              use_remote_gateways: false
            remote:
              subscription: BIS Enterprise IT Primary
              vnet_name: zna1-bis-shr-vnet01
              allow_vnet_access: true
              allow_forwarded_traffic: true
              allow_gateway_transit: true
              use_remote_gateways: false