- name: Create network interface
  azure_rm_deployment:
    deployment_name: "{{ smiths_nic_name }}"
    resource_group_name: "{{ smiths_resource_group_name }}"
    location: "{{ smiths_region_name }}"
    template: "{{ lookup('file', '../../../arm-templates/nic.json') | from_json }}"
    tags: "{{ smiths_azure_tags }}"
    parameters:
      location:
        value: "{{ smiths_region_name }}"
      name:
        value: "{{ smiths_nic_name }}"
      publicIpAddressId:
        value: "{{ smiths_public_ip_address_id | default() }}"
      nsgId:
        value: "{{ smiths_nsg_id | default() }}"
      vnetName:
        value: "{{ smiths_vnet_name }}"
      subnetName:
        value: "{{ smiths_subnet_name }}"
  register: smiths_nic_job
